.detalhesCurso{
	box-shadow: 0px 0px 5px gray;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formAluno{
	box-shadow: 0px 0px 5px gray;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaAluno {
	width: 50%;
}

.formCurso{
	box-shadow: 0px 0px 5px gray;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}