<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>CursosApp</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<h1>Lista de Cursos</h1>
	<h3>
		<a href="/cadastrarCursos" class="waves-effect waves-light btn"><i
			class="material-icons right">playlist_add</i>Cadastrar Cursos</a>
	</h3>
	<table class="container">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horario</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="curso : ${cursos}">
				<td><a th:href="@{/{codigo}(codigo=${curso.codigo})}"><span th:text="${curso.nome}"></span></a></td>
				<td><span th:text="${curso.local}"></span></td>
				<td><span th:text="${curso.data}"></span></td>
				<td><span th:text="${curso.horario}"></span></td>
			</tr>
		</tbody>
	</table>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>